@font-face {
  font-family: "AcademyEngravedLetPlain";
  src: url("https://cdn.glitch.com/7c73d420-fba0-4077-a7a5-da85587f640b%2FAcademyEngravedLetPlain.eot?v=1617531163286");
  src: url("https://cdn.glitch.com/7c73d420-fba0-4077-a7a5-da85587f640b%2FAcademyEngravedLetPlain.eot?v=1617531163286")
      format("embedded-opentype"),
    url("https://cdn.glitch.com/7c73d420-fba0-4077-a7a5-da85587f640b%2FAcademyEngravedLetPlain.woff2?v=1617531163462")
      format("woff2"),
    url("https://cdn.glitch.com/7c73d420-fba0-4077-a7a5-da85587f640b%2FAcademyEngravedLetPlain.woff?v=1617531163476")
      format("woff"),
    url("https://cdn.glitch.com/7c73d420-fba0-4077-a7a5-da85587f640b%2FAcademyEngravedLetPlain.ttf?v=1617531163385")
      format("truetype");
  font-weight: normal;
  font-style: roman;
  font-display: swap;
}

@font-face {
  font-family: "Anselm Ten Normal";
  src: url("https://cdn.glitch.com/edb9576c-9c9d-490d-82f3-8c3ce72c8cff%2FAnselmTen-Normal.eot?v=1616510470512");
  src: url("https://cdn.glitch.com/edb9576c-9c9d-490d-82f3-8c3ce72c8cff%2FAnselmTen-Normal.eot?v=1616510470512?#iefix")
      format("embedded-opentype"),
    url("https://cdn.glitch.com/edb9576c-9c9d-490d-82f3-8c3ce72c8cff%2FAnselmTen-Normal.woff2?v=1616510470541")
      format("woff2"),
    url("https://cdn.glitch.com/edb9576c-9c9d-490d-82f3-8c3ce72c8cff%2FOrtica-Light.woff?v=1616508316368")
      format("woff"),
    url("https://cdn.glitch.com/edb9576c-9c9d-490d-82f3-8c3ce72c8cff%2FAnselmTen-Normal.ttf?v=1616510470667")
      format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "CloisterBlack";
  src: url("https://cdn.glitch.com/3d214add-4e70-4de3-b850-9d359d1faace%2FCloisterBlack-Light.eot?v=1617617881833");
  src: url("https://cdn.glitch.com/3d214add-4e70-4de3-b850-9d359d1faace%2FCloisterBlack-Light.eot?v=1617617881833")
      format("embedded-opentype"),
    url("https://cdn.glitch.com/3d214add-4e70-4de3-b850-9d359d1faace%2FCloisterBlack-Light.woff2?v=1617617881849")
      format("woff2"),
    url("https://cdn.glitch.com/3d214add-4e70-4de3-b850-9d359d1faace%2FCloisterBlack-Light.woff?v=1617617881695")
      format("woff"),
    url("https://cdn.glitch.com/3d214add-4e70-4de3-b850-9d359d1faace%2FCloisterBlack-Light.ttf?v=1617617882226")
      format("truetype");
  font-weight: normal;
  font-style: roman;
  font-display: swap;
}

@font-face {
  font-family: "EmbassyBT";
  src: url("https://cdn.glitch.com/3d214add-4e70-4de3-b850-9d359d1faace%2FEmbassyBT-Regular.eot?v=1617618099621");
  src: url("https://cdn.glitch.com/3d214add-4e70-4de3-b850-9d359d1faace%2FEmbassyBT-Regular.eot?v=1617618099621")
      format("embedded-opentype"),
    url("https://cdn.glitch.com/3d214add-4e70-4de3-b850-9d359d1faace%2FEmbassyBT-Regular.woff2?v=1617618099733")
      format("woff2"),
    url("https://cdn.glitch.com/3d214add-4e70-4de3-b850-9d359d1faace%2FEmbassyBT-Regular.woff?v=1617618099750")
      format("woff"),
    url("https://cdn.glitch.com/3d214add-4e70-4de3-b850-9d359d1faace%2FEmbassyBT-Regular.ttf?v=1617618099702")
      format("truetype");
  font-weight: normal;
  font-style: roman;
  font-display: swap;
}

@font-face {
  font-family: "EmilyAustin";
  src: url("https://cdn.glitch.com/b8e53a58-29fc-4e76-b47b-542c49debb6b%2FEmilyAustin.eot?v=1617631600270");
  src: url("https://cdn.glitch.com/b8e53a58-29fc-4e76-b47b-542c49debb6b%2FEmilyAustin.eot?v=1617631600270")
      format("embedded-opentype"),
    url("https://cdn.glitch.com/b8e53a58-29fc-4e76-b47b-542c49debb6b%2FEmilyAustin.woff2?v=1617631600481")
      format("woff2"),
    url("https://cdn.glitch.com/b8e53a58-29fc-4e76-b47b-542c49debb6b%2FEmilyAustin.woff?v=1617631600270")
      format("woff"),
    url("https://cdn.glitch.com/b8e53a58-29fc-4e76-b47b-542c49debb6b%2FEmilyAustin.ttf?v=1617631600409")
      format("truetype");
  font-weight: normal;
  font-style: roman;
  font-display: swap;
}
